@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&family=Karla:wght@500&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Color variables for consistent design  */
:root {
  --beige: #ede2d7;
  --gray: #2e2e2e;
  --brown: #8d7a67;
}

/* Header */
header {
  height: 7vh;
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}
header img {
  height: 100%;
}
header span {
  color: black;
  font-weight: 1000;
}

/* General */
body {
  font-family: "Asap Condensed", serif, sans-serif;
  height: 100vh;
  background-color: var(--beige);
  color: antiquewhite;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Karla, serif, sans-serif;
}
p {
  border-top: 3px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
  font-size: 1.5em;
  line-height: 28px;
}
main {
  position: relative;
  height: 86vh;
  width: 80%;
}
.hidden {
  display: none !important;
}

/* Welcome section */
#welcomeSec {
  margin-top: 50px;
  display: flex;
  width: 80%;
  border-radius: 30px;
  padding: 30px;
  background-color: var(--brown);
  border: 3px solid black;
}
#welcomeSec h1,
#welcomeSec label {
  font-size: 2em;
}
#welcomeSec > div {
  border: 3px solid black;
  border-radius: 15px;
  flex: 0 0 48%;
  text-align: center;
  padding: 5px;
}
label {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 5px;
}

/* Welcome section settings menu */
#settings {
  position: relative;
  text-align: left;
}
#playerSettings {
  border-radius: 15px;
  border-top: 3px solid black;
  margin-top: 15px;
}
input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 15px;
  border: 2px solid black;
  background-color: var(--gray);
  margin: 20px;
  color: antiquewhite;
}
input[type="text"]:focus,
input[type="number"]:focus {
  border: 5px solid var(--beige);
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-ms-clear {
  -webkit-appearance: none;
  appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--gray);
  color: antiquewhite;
}
#diffSelector {
  width: 50%;
  padding: 5px;
  display: inline-block;
  text-align: left;
}
.diffSelection {
  display: none;
}
.diffSelection + label {
  color: black;
  font-weight: bold;
}
.diffSelection + label:hover {
  color: var(--gray);
}
.diffSelection + label::before {
  content: "\25BB";
  color: antiquewhite;
  margin-right: 10px;
}
.diffSelection:checked + label::before {
  content: "\25BA";
  color: black;
}
#diffSelector label {
  margin-left: 35px;
  font-size: 1.5em;
  padding: 10px;
  border: none;
  cursor: pointer;
}
#additionalOptions {
  display: inline-block;
  width: 80%;
}
#additionalOptions label {
  margin-top: 20px;
}
#settings button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 3em;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--gray);
  color: antiquewhite;
}
#settings button:hover {
  background-color: antiquewhite;
  border: 3px solid black;
  color: var(--gray);
}

/* Game section */
#gameSec {
  background-color: var(--brown);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border: 4px solid black;
  border-radius: 20px;
}
#visualFeedback {
  display: flex;
  flex: 0 0 100%;
  height: 63%;
  border-bottom: 3px solid black;
  border-radius: 15px;
}
/* Gallows, stickman and mysteri word */
#gallows {
  flex: 0 0 80%;
  display: flex;
  align-items: end;
  margin: 0;
}
#stickman {
  flex: 0 1 35%;
  height: 100%;
  text-align: center;
}
.pyramide {
  width: 100%;
  height: 20%;
  text-align: center;
}
.pyramide img {
  height: 100%;
}
#mysteryWord {
  flex: 1 0 65%;
  height: 25%;
  display: flex;
  align-items: center;
}
.letterBox {
  height: 50%;
  aspect-ratio: 1 / 1;
  text-align: center;
  font-size: 3em;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--gray);
  color: antiquewhite;
}
/* Game information,timer */
#gameInfo {
  flex: 0 0 20%;
  position: relative;
  text-align: center;
}
#diffDisplay {
  width: max-content;
  padding: 15px;
  border: 2px solid black;
  background-color: var(--gray);
  font-size: 2em;
  text-align: center;
  border-radius: 15px;
  margin-top: 30px;
}
.green {
  color: darkgreen;
}
.red {
  color: crimson;
}
.guessCount {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 10%;
  margin: 10% 5px;
  font-size: 5em;
  font-weight: 1000;
  border: 3px solid black;
  border-radius: 15px;
  background-color: var(--gray);
}
/* User input */
#userInput {
  height: 35%;
  flex: 0 0 100%;
  display: flex;
}
#vKeyboard {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 3px solid black;
  border-radius: 15px;
  padding-top: 15px;
}
#vKeyboard div {
  flex: 0 0 100%;
  height: 32%;
  text-align: center;
}
.keys {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1 / 1;
  text-align: center;
  font-size: 3em;
  padding-top: 15px;
  background-color: var(--gray);
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 10px;
}
.keys:hover {
  border: 3px solid white;
  cursor: help;
}
/* Post game message */
#postgameSec {
  position: relative;
  margin-top: 50px;
  width: 80%;
  text-align: center;
  border-radius: 30px;
  padding: 30px;
  background-color: var(--brown);
  border: 3px solid black;
}
#postgameM {
  flex: 0 0 100%;
  font-size: 2em;
  text-align: center;
  padding: 15px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: var(--gray);
}
#postgameM h1 {
  font-size: 3em;
  margin-bottom: 15px;
  color: antiquewhite;
}
#postgameM p {
  margin: 50px 0;
  padding: 20px 0;
  line-height: 50px;
}
#postgameSec span {
  width: 30%;
  margin-left: 30px;
  margin-right: 30px;
}
#postgameSec button {
  position: absolute;
  margin: 30px;
  width: 30%;
  font-size: 1.5em;
  border-radius: 20px;
  padding: 15px;
  color: antiquewhite;
  background-color: var(--gray);
  border: 3px solid var(--beige);
}
#postgameSec button:hover {
  border: 3px solid black;
  color: var(--gray);
  background-color: antiquewhite;
}
#cSettings {
  bottom: 0;
  left: 0;
}
#postgameSec .play {
  right: 0;
  bottom: 0;
}
/* Footer */
footer {
  height: 7vh;
}

/* Large devices*/
@media screen and (max-width: 1200px) {
  main {
    width: 90%;
  }
  #welcomeSec {
    width: 90%;
    flex-wrap: wrap;
  }
  #welcomeSec div {
    flex: 0 0 100%;
  }
  #settings {
    margin-top: 15px;
  }
  .keys {
    height: 80%;
    padding: 5px;
  }
  #diffDisplay {
    font-size: 2em;
  }
  #postgameSec {
    width: 100%;
  }
  #postgameSec span {
    width: 25%;
  }
}
/* Medium devices*/
@media screen and (max-width: 992px) {
  #settings button {
    padding: 15px;
    font-size: 2em;
  }
  .keys {
    height: 62%;
    padding: 5px;
    font-size: 2em;
  }
  .letterBox {
    height: 45%;
    font-size: 1.5em;
  }
  #gallows {
    flex-wrap: wrap;
  }
  #stickman {
    flex: 0 0 100%;
    height: 70%;
  }
}
/* Small devices */
@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  #welcomeSec {
    width: 100%;
    flex-wrap: wrap;
  }
  #welcomeSec > div {
    flex: 0 0 100%;
    font-size: 1em;
  }
  #welcomeSec p {
    font-size: 1.5em;
  }
  #settings {
    margin-top: 15px;
  }
  #playerSettings {
    text-align: left;
  }
  #settings button {
    font-size: 2em;
    padding: 15px;
    bottom: 20%;
  }
  #gallows {
    flex-wrap: wrap;
  }
  #stickman {
    flex: 0 0 100%;
    height: 80%;
  }
  #gameInfo {
    text-align: left;
    position: relative;
  }
  .guessCount {
    width: 50%;
    font-size: 1.5em;
    padding: 15px;
  }
  #diffDisplay {
    position: absolute;
    width: max-content;
    left: 0;
    padding: 10px;
    font-size: 1.5em;
  }
  .letterBox {
    height: 45%;
    font-size: 3em;
  }
  .keys {
    height: 65%;
    margin: 5px;
    font-size: 2em;
    padding: 5px;
  }
  #postgameSec {
    width: 100%;
  }
  #postgameM {
    font-size: 1em;
    padding: 15px;
    margin-bottom: 50px;
  }
  #postgameM p {
    margin: 0;
  }
  #postgameSec button {
    font-size: 1.2em;
    padding: 15px;
  }
  #postgameSec span {
    width: 20%;
    margin: 0 50px 100px 50px;
  }
}

/* Extra small */
@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  #welcomeSec {
    width: 100%;
    flex-wrap: wrap;
  }
  #welcomeSec > div {
    flex: 0 0 100%;
    font-size: 1em;
  }
  #welcomeSec p {
    font-size: 1em;
  }
  #settings {
    margin-top: 15px;
  }
  #playerSettings {
    text-align: left;
  }
  #settings button {
    font-size: 2em;
    padding: 15px;
  }
  #gallows {
    flex-wrap: wrap;
  }
  #stickman {
    flex: 0 0 100%;
    height: 80%;
  }
  #gameInfo {
    text-align: left;
    position: relative;
  }
  .guessCount {
    width: 50%;
    font-size: 1.5em;
  }
  #diffDisplay {
    position: absolute;
    width: max-content;
    left: -5px;
    padding: 10px;
    font-size: 1.5em;
  }
  .letterBox {
    height: 30%;
    font-size: 1.5em;
  }
  .keys {
    height: 50%;
    margin: 3px;
    font-size: 1.5em;
    padding: 0;
  }
  #postgameSec {
    width: 100%;
  }
  #postgameM {
    font-size: 1em;
    padding: 0;
    margin-bottom: 50px;
  }
  #postgameM p {
    margin: 0;
  }
  #postgameSec button {
    font-size: 1em;
    padding: 15px;
  }
  #postgameSec span {
    width: 20%;
    margin: 0 50px 100px 50px;
  }
}
